.fretboard {
  width: 60vw;
  background-color: brown;
  margin: 0px;
  padding: 0px;
}
.string {
  display: flex;
  height: 20px;
  height: 100%;
  width: 100%;
  margin-top: 30px;
  background-color: grey;
}
.fret {
  width: 30px;
  border: 1px solid black;
}

:global(#string-1) {
  height: 5px;
}
:global(#string-2) {
  height: 6px;
}
:global(#string-3) {
  height: 7px;
}
:global(#string-4) {
  height: 8px;
}
:global(#string-5) {
  height: 9px;
}
:global(#string-6) {
  height: 10px;
}
