:root {
  --background-color: white;
  --border-color: #e0e0e0;
}

body {
  padding: 0;
  margin: 0;
}

.main-page {
  margin-left: 1rem;
}

.element {
  margin: 20px;
}

.settings {
  padding-right: 20px;
  border-right: 1px solid var(--border-color);
  height: 100vh;
  width: 25vw;
}

.main-page {
  margin-left: 1.5rem;
  overflow-y: auto;
  height: 100%;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1;
  display: flex;
  overflow: hidden;
  margin-left: 1rem;
}

.page-scroll {
  overflow-y: auto;
  height: 100%;
}
